#Template générique de fichier de configuration Apache

# Ne pas afficher les sous-dossiers
Options -Indexes

# Forcer le HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_headers.c>
# Ajout du header HSTS uniquement en HTTPS (ne déclenche pas le HTTP)
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS

#Controle du cache
Header set Cache-Control "max-age=3000, public"

#Politique de référence
Header always set Referrer-Policy "strict-origin-when-cross-origin"

#Limiter les méthodes possibles en HTTP
Header set Access-Control-Allow-Methods "GET, POST"

#Gestion des cookies (accsessible uniquement en HTTP => Pas accessible par les langages de script), le navigateur envoie uniquement le cookie lorsque la requête est de type même origine.
Header edit Set-Cookie ^(PHPSESSID=.*)$ "$1; HttpOnly; Secure; SameSite=Strict"

#Masquer l'affichage des entêtes
 Header unset Composed-By
 Header unset X-Powered-By
 Header unset X-Spip-Cache
</IfModule>

<Files ".user.ini">
    Require all denied
    ErrorDocument 
    401 "Accès non autorisé"
</Files>

<Files "php.ini">
    Require all denied
    ErrorDocument 
    401 "Accès non autorisé"
</Files>

#Module générique 
# <Files "you_file_name_.extension">
#  Your access argument
#  Type of Page
#  Type of Error "Customised message "
# </Files>