@import url(./main.css);

/*Partie générateur de formulaire*/

.creation-formulaire-container {
    justify-self: center;
    padding: 10px;
    margin: 10px;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #6B6B6B;
}

.creation-formulaire-container h2, form{
    justify-self: center;
}

.creation-formulaire-container .input-item-container {
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.creation-formulaire-container .button-creer-formulaire {
    background-color: blue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    border: grey 1px solid;
}

.creation-formulaire-container .button-creer-formulaire:hover {
    background-color: white;
    color: blue;
    transition: 0.25s ease;
    cursor: pointer;
    border: grey 1px solid;
}

.formulaire-creer-container {
    justify-self: center;
    padding: 10px;
    margin: 10px;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #6B6B6B;
}