@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Funnel+Display:wght@300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: Roboto, sans-serif;
}