.navbar-container {
  display: flex;
  padding: 10px;
  margin: 10px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background-color: blue;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: blue;
}